<% if notice %>
	<div class="alert alert-warning alert-dismissible fade show m-4" role="alert">
	  	<%= notice %>
	 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

<% end %>

<h1 class="m-4 text-center"> This is Root </h1>

<% if Current.reg %>
	<h2 class="ms-4 text-center">You are logged in as <%= Current.reg.name %> </h2>
	<div class="text-center mt-2">
		
	<%= link_to "Logout",logout_path,method: :delete,data:{confirm:"are you sure"},class:'btn btn-dark ms-4'  %>
	</div>
<% end %>