/*// Place all the styles related to the Deadpool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/*/
.Mon h1
{
	color: red;
}
